/* CreatePostForm.module.css */

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.formWrapper {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 3%;
}

form {
  display: flex;
  flex-direction: column;
}

.field {
  margin-bottom: 15px;
}

.label {
  font-size: 20px;
  margin-bottom: 5px;
  display: block;
  font-weight: bold;
}

.inputText,
.textarea,
.inputFile {
  width: 70%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.textarea {
  resize: vertical;
  min-height: 150px;
}

/* 버튼 스타일 */
.button {
  padding: 10px 12px; /* 패딩을 조절하여 버튼의 가로 너비를 줄입니다 */
  font-size: 14px; /* 폰트 사이즈를 조절하여 버튼 텍스트 크기도 조정합니다 */
  color: white;
  background-color: #22CEB1;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px; /* 버튼의 가로 너비를 콘텐츠에 맞게 자동으로 조절 */
  margin-left: 45%;
}

.message {
  color: red;
  margin-top: 10px;
}
