/* Navbar.css */

.navbarH {
    width: 100%;
    background-color: #333; /* 원하는 배경색으로 변경 */
    color: #fff; /* 글자색 */
    padding: 10px 0; /* 상하 여백 */
  }
  
  .navbar-container {
    max-width: 1200px;
    margin: 0 auto; /* 중앙 정렬 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* 좌우 여백 */
  }
  
  .navbar-logo-container {
    flex: 1;
  }
  
  .navbar-logo {
    height: 55px; /* 로고 높이 조정 */
  }
  
  .navbar-main-menu {
    flex: 2;
    display: flex; /* Flexbox 사용 */
    align-items: center;
    margin-right: 50px; /* 오른쪽 여백 조정, 필요에 따라 조정 */
  }
  
  .navbar-nav {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  .nav-item {
    margin: 0 15px; /* 메뉴 항목 간 여백 */
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 16px; /* 글자 크기 조정 */
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  .navbar-user-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px; /* 항목 사이의 간격 조정 */
    flex: 1;
  }
  
  .user-menu-logged-in, .user-menu-logged-out {
    display: flex;
    align-items: center;
    gap: 10px; /* 항목 간 간격 조정 */
  }
  
  .user-menu-logged-in .nav-link, .user-menu-logged-out .nav-link {
    margin: 0; /* 기본 여백 제거 */
  }
  
  button.nav-link {
    background: none;
    border: none;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
  }
  
  button.nav-link:hover {
    text-decoration: underline;
  }
  