/* 최상단 고정바 스타일링 */
.navbar {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  top: -1px;
  z-index: 1000;
  color: #333;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar>ul>li {
  margin-right:8px;
  padding: 24px;
}

.navbar .category-list li {
  padding: 32px;
}

.category-toggle{
  cursor: pointer;
}

.category-toggle:hover{
  color: #03C7A6;;
}

.navbar ul li a {
  font-weight: bold;
  color: #333;
}

.navbar ul li a:hover {
  color: #03C7A6;
}

.interaction-area {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.category-list {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  list-style-type: none;
  padding: 0;
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease;
  z-index: 998;
  min-width: 400px;
}

.category-list.show {
  height: 88px;
  border: 1px solid #ccc;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 8px;
  margin-right: 8px;
  font-size: 16px;
}

.search-bar button {
  width: 80px;
  padding: 8px 16px;
  color: white;
  border: none;
  cursor: pointer;
}

/* 배너 스타일링 */
.banner {
  position: relative;
  width: 100%;
  height: 70vh;
  margin: 0 auto 50px auto;
  overflow: hidden;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prev-button, .next-button {
  width: 48px;
  height: 48px;
  border: none;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  position: absolute;
  top: 48%;
  cursor: pointer;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0);
}

.prev-button {
  left: 40px;
  transform: rotate(45deg);
}

.next-button {
  right: 40px;
  transform: rotate(225deg);
}

/* 상품 섹션 스타일링 */
.product-sections {
  margin-top: 20px;
}

.section h3 {
  text-align: center;
  margin-bottom: 10px;
}

.product-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.product-item {
  text-align: left;
  width: 20%;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
}

.product-item img {
  width: 100%;
  height: auto;
  cursor: pointer;
  margin-bottom: 10px;
}