.navbar {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    top: -1px;
    z-index: 1000;
    color: #333;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
  }
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .navbar>ul>li {
    margin-right:8px;
    padding: 24px;
  }
  
  .category-list li {
    padding: 32px;
  }
  
  .category-toggle{
    cursor: pointer;
  }
  
  .category-toggle:hover{
    color: #03C7A6;;
  }
  
  .navbar ul li a {
    font-weight: bold;
    color: #333;
  }
  
  .navbar ul li a:hover {
    color: #03C7A6;
  }
  
  .interaction-area {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .category-list {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    list-style-type: none;
    padding: 0;
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease;
    z-index: 998;
    min-width: 400px;
  }
  
  .category-list.show {
    height: 88px;
    border: 1px solid #ccc;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-bar input {
    padding: 8px;
    margin-right: 8px;
    font-size: 16px;
  }
  
  .search-bar button {
    width: 80px;
    padding: 8px 16px;
    color: white;
    border: none;
    cursor: pointer;
  }
  